.container {
  margin: 0 auto;
  margin-top: -100px;
  max-width: 640px;
  width: 640px;
  max-height: 620px;
  height: 620px;
}
.title {
  display: flex;
  margin-bottom: 12px;
}
.status {
  color: rgba(0, 204, 204, 1);
  display: flex;
  margin-bottom: 60px;
}
.structure {
  display: flex;
  margin-bottom: 24px;
}
.burgerIngedientStructure {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  max-height: 205px;
  height: 275px;
  margin-bottom: 40px;
}
.orderTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time {
  color: rgba(133, 133, 173, 1);
}
.orderTime span {
  display: flex;
  align-items: center;
  gap: 8px;
}
p {
  margin: 0;
}
.ingredientCard {
  display: flex;
  width: 608px;
  height: 64px;
  border: 2px;
  gap: 16px;
}
.ingredientCard img {
  display: flex;
  margin-left: -25px;
  width: 112px;
  height: 56px;
}
.ingredientName {
  display: flex;
  align-items: center;
  max-width: 414px;
  width: 414px;
}
.countIngredients{
    display: flex;
    align-items:center;
    gap: 8px;
    width: 98px;
}
.onLink{
  width: 600px;
}
.onLinkStructure{
height: 500px;
}