
.text {
	/* display: flex; */
	position: absolute;
	align-items: center;
	justify-content: center;
	right: 60%;
	top: 10%;
	z-index: 1;
	text-align: center;
}

.overlayHeader {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 10%;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: absolute;
  	top: 20px;
	z-index: 2;
	left: 50%;
  	transform: translate(-50%,40%);
}
.closeBtn {
	display: flex;
	cursor: pointer;
	z-index: 2;
}
.modalContainerInfo{
	display: flex;
	flex-direction: column;
	align-items:center;
	width: 720px;
}
.title{
	z-index: 2;
}
.directLinkModal{
background-color: red;
}