.container {
	display: flex;
	justify-content: space-between;
	z-index: 1;
}
.text {
	/* display: flex; */
	position: absolute;
	align-items: center;
	justify-content: center;
	right: 60%;
	top: 10%;
	z-index: 1;
}
.closeBtn {
	position: absolute; 
	left:66%;
	top:14%;
	display: flex;
	justify-content: end;
	cursor: pointer;
	align-items: center;
	z-index: 1;
}
