.container{
    margin-top: 180px;
  }
  .loginTitle{
  font-family: JetBrains Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 24px;
  }
  .inputBlock{
      display: flex;
      align-items: center;
      gap: 24px;
      flex-direction: column;
      margin-bottom: 80px;
  }
  
  .signInBlock{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.signIn{
    display: flex;
    width: 480px;
height:24px;
gap: 8px;
justify-content: center;
font-family: JetBrains Mono;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: rgba(133, 133, 173, 1);
}
.signIn span{
    color: rgba(76, 76, 255, 1);
}
.signIn a{
    color:inherit;
}
button a{
    color:inherit;
  }