.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
.order {
	margin: 60px 0px 32px 0;
	text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.5),
		0px 0px 8px rgba(51, 51, 255, 0.25),
		0px 0px 16px rgba(51, 51, 255, 0.25);
	/* desktop/digits large */
	font-family: Iceland;
	font-size: 144px;
	font-style: normal;
	font-weight: 400;
	line-height: 120px; /* 83.333% */
}
.closeBtn {
	display: flex;
	justify-content: end;
	cursor: pointer;
}
.footerText {
	color: var(--text-dark-grey-secondary-text, #8585ad);
}
